.corpo{
     background-color: mediumorchid;
      color: fuchsia;
      text-align: center;
      border: 10px;
       border-style: groove;
}
        #link{
            color: pink;
            text-decoration: none;
   color: mediumpurple;     }
       font-size:15px;
      

    #link{
     color: chocolate;
       text-decoration: none;


      