.corpo{
     background-color: rgb(211, 135, 230);
      color: background-color yellow;
      text-align: center;
      border: 10px;
       border-style: groove;
          border-style: rgb(162, 255, 162);
        #link{
            color: pink;
            text-decoration: none;
            color: mediumpurple;
            font-size:15px;
        }

    #link{
     color: chocolate;
       text-decoration: none;
      


       

